@font-face {
    font-family: KTEGAKI;
    src: url(KTEGAKI.ttf);
}

@font-face {
    font-family: Pearl;
    src: url(TaiwanPearl.ttf);
}

body {
    background: url(../img/dwem_and_duke.jpg) fixed no-repeat center;
    background-size: cover;
}

* {
    font-family: Pearl, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.6);

}

.main {
    animation: appear 512ms;
}

.dwem33 {
    padding-top: 16px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: KTEGAKI, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.introduction {
    max-width: 960px;
    width: 100%;
    background: url(../img/lemon.png) center repeat;
    background-size: 100%;
    -moz-backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    height: 512px;
    display: flex;
    flex-direction: column;
    border-radius: 72px;
    overflow: hidden;
}

.introduction>hr {
    border: 1px solid rgba(0, 0, 0, 0.6);
    ;
    opacity: 100%;
    width: calc(100% - 144px);
    overflow: hidden;
    border-radius: 1px;

}

.introduction>hr:nth-child(1) {
    margin: 32px auto 16px auto;
}

.introduction>hr:nth-child(3) {
    margin: 16px auto 32px auto;
}

.main {
    margin: auto center;
    display: flex;
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.pfp {
    border-radius: 50%;
    width: 128px;
}

.intro_flex {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    justify-content: space-around;
    justify-items: stretch;
    text-align: center;
    flex-grow: 1;
}

.intro_flex>div {
    width: 100%;
    margin: 16px;
}

.introduction,
.payments {
    background-size: cover;
}

.intro_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.gap {
    flex-grow: 1;
}

.btn_link {
    width: 100%;
    max-width: 256px;
    height: 32px;
    border-radius: 16px;
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.6);
    transition: 256ms;

}

.intro_right>.hr {
    opacity: 100%;
    border-bottom: 4px dotted rgba(0, 0, 0, 0.6);
    outline: none;
    margin: auto;
    margin-bottom: 8px;
    width: calc(100% - 28px);
}

.btn_form {
    width: 100%;
    max-width: 256px;
    margin: 8px auto;

}

.intro_right {
    padding: 16px auto;
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.link>div {
    width: 64px;
    height: 64px;
}

.link>div>form,
.link>div>div {
    width: 52px;
    height: 52px;
    margin: 6px 6px 6px 6px;
    border-radius: 20%;
    overflow: hidden;
    background: #65d5bd !important;
    transition: 256ms;
}

.link>div>form>button,
.link>div>div>button {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    background: none;
    color: rgba(0, 0, 0, 0.6);
    ;
    font-size: 20px;
}

.intro_cont {
    text-align: left;
    list-style: square;
    font-size: 20px;

}

.intro_info {
    display: flex;
    align-items: center;
    margin: auto 32px;
}

.lang_switch {
    width: 32px !important;
    font-size: 14px;
    text-align: center;
    margin-left: 16px;
}

.cnpay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 64;
    display: none;
    align-items: center;
    justify-content: center;
    transition: opacity 320ms;
    -moz-backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);
    opacity: 0%;
}

.payments {
    position: absolute;
    min-width: 300px;
    min-height: 300px;
    background: url(../img/lemon.png) center repeat !important;
    background-size: 100% !important;
    -moz-backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 72px;
    overflow: hidden;
}

.p_title {
    height: 72px;
    position: relative;
}

.p_close {
    position: absolute;
    right: 36px;
    border: none;
    background: none;
    font-size: 36px;
    height: 48px;
    top: 0;
}

.p_close>i {
    padding: 0;
    margin: 0;
}

.p_qr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 32px;
}

.p_qr>img {
    max-height: 256px;
    height: 100%;
    width: 100%;
    max-width: 256px;
    object-fit: contain;
    aspect-ratio: 1/1;
    margin: 16px;
}

.btn_link:hover {
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.link>div>form:hover,
.link>div>div:hover {
    background: rgb(101, 213, 189, 0.6) !important;
}

.p_title_text {
    margin-top: 32px;
    font-size: 36px;
    text-align: center;
}

@media (min-width: 992px) {

    .link {
        margin-left: 16px;
        height: 512px;
        align-items: center;
    }
}

@media (max-width: 992px) {
    .intro_flex {
        flex-direction: column;
        justify-items: center;
        align-items: center;

    }

    .introduction {
        height: auto;
        width: calc(100% - 32px);
        margin: 16px auto;
    }

    .intro_flex>div {
        width: calc(100% - 48px);
    }

    .main {
        flex-direction: column;
    }

    .link {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 16px;
    }

    .intro_cont {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .intro_cont>li {
        font-size: 16px;
    }

    @media (max-height: 768px) and (max-width: 480px) {
        .payments {
            height: 100%;
            margin-top: 16px;
            margin-bottom: 16px;
            display: flex;
            flex-direction: column;
        }

        .p_qr>img {
            max-height: 144px;
        }

        .p_qr {
            flex-grow: 1;
            justify-content: space-around;
        }

        .p_close {
            top: 32px;
        }
    }
}

@media (max-width: 768px) {
    .p_qr {
        flex-direction: column;
    }

    .introduction>* {
        margin: auto;
    }
}

@keyframes appear {
    0% {
        position: relative;
        bottom: 32px;
        opacity: 0;
    }

    100% {
        position: relative;
        bottom: 0px;
        opacity: 100%;
    }
}